body {
    width: 72%;
    margin: auto;
}

header {
    margin: auto;
    display: flex;
    flex: auto;
    flex-direction: column;
    width:80%;
    align-items: center;
}

/* margin: top right bottom left */
header nav ul li{
    margin: 0 1.5rem 0 1.5rem;
}

header nav ul li a{
    color: var(--pico-h1-color);
}

header nav ul li a{
    color: var(--pico-h1-color);
}

#featured-section{
    margin: auto;
    margin-top: 0rem;
    width:90%;
}

#featured-section a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12rem;
    border-radius: 15px;
    text-decoration: unset;
}

#featured-section a:hover{
    background-color: #1f232d;

}

#featured-box {
    margin: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;
}

#featured-box img {
    margin-top:0.5rem;
    width: 11rem;
    height: 11rem;
    border-radius: 10px;
}

#featured-box-text{
    margin-top: 0.6rem;
    margin-left:2rem;
    width: 80%;
}

#featured-box-text p {
    font-size: 1rem;
    text-decoration: none;
    color: var(--pico-h1-color);
}


/* */

#article-section {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.article-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    height: 18rem;
}

#article-section a {
    text-decoration: unset;
    border-radius: 15px;
}

#article-section a:hover {
    background-color: #1f232d;
}

.article-box h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

/* Might change this later */
.article-box p {
    font-size: 1rem;
    text-decoration: none;
    color: var(--pico-h1-color);
}


.article-box img {
    margin: 1rem 0 0.5rem 0;
    height: 8rem;
    width: 100%;
    border-radius: 15px;
    width: 80%;
}