.page {
  width: 80%;
}

.featuredSection {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.5rem;
}

.featuredProject {
  grid-row: span 2;
}