.a {
    text-decoration: none;
    color: #e4e5e6;
}

.main {
    background-color: #1b1e22;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3rem 5rem;
    border: 1px solid #e4e5e6;
    padding: 1rem;
}

.doubleBorder {
    border: 1px solid #e4e5e6;
    padding: 0.1rem;
}

.imgContainer {
    grid-row: span 2;
    background-color: blue;
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    display: flex;
    text-align: end;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

.text {
    margin-left: 1rem;
    background-color: orange;
}