.a {
    text-decoration: none;
    color: #e4e5e6;
}


.main {
    background-color: #1b1e22;
    display: grid;
    grid-template-columns: 10rem 15rem;
    grid-template-rows: 10rem 10rem;
    border: 1px solid #e4e5e6;
    padding: 1rem;
}

.doubleBorder {
    border: 1px solid #e4e5e6;
    padding: 0.1rem;
}

.imgContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    text-align: center;
    display: flex;
    align-items: center;
}

.text {
    grid-column: span 2;
    margin: 1rem;
}